<div class="row">
  <div class="row">
    <h1 class="align-right"><mark>SkyNet</mark> Robot World</h1>
    <div class="pull-right">
      <img src="https://robohash.org/ads">
    </div>

    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <a href="/robots" class="btn btn-warning">Robot Repository</a>
      </div>
      <div class="col-xs-4 col-sm-6">
        <a href="/robots/new" class="btn btn-warning">Create Your Dream Robot</a>
      </div>
    </div>
  </div>
