<h1>Welcome to the SkyNet Robot World</h1>

<ul>
  <li><a href="/robots" class="btn btn-warning">Robot Repository</a></li>
  </br>
  <li><a href="/robots/new" class="btn btn-warning">Create Your Dream Robot</a></li>
</ul>
